{% extends "_base.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-10 col-lg-10">

    <h3>Projects</h3>

  </div>
</div>


<div class="row">
  <div class="col-sm-10 col-lg-10">
    {{ pagination.info }}
    <ul class='list-group'>
      {% for project in projects %}
          <li class="list-group-item d-flex justify-content-between align-items-center">


            <a href="{{url_for('routes.graph_options_view',graph_name=project)}}">{{project}}</a>
            <!-- <span class="badge badge-primary badge-pill">

            </span> -->
          </li>
      {% endfor %}
    </ul>
    <nav aria-label="Page navigation">
      {{ pagination.links }}
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-lg-10">

    <!-- {{graph_options}} -->

  </div>
</div>

{% endblock %}

{% block js %}

<script type='text/javascript'>
  // fix for pagination
  console.log("hello")
  window.onload = function(){
       if(document.readyState === 'complete'){
           /*code here*/
           var pagination = document.getElementsByClassName("pagination");
           pagination[0].firstElementChild.classList.add("pagination");

           console.log(pagination)
       }
  }
</script>
{% endblock%}
